<template>
  <div>
    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
      ></v-progress-circular>
    </v-overlay>
    <v-data-table
      :headers="headers"
      :items="$store.state.products.products"
      :items-per-page="10"
      class="elevation-1"
    >
      <template v-slot:item.manufacturer="{ item }">
        <v-btn
          width="100%"
          color="info"
          dark
          @click="get_availability(item.manufacturer,item.id)"
        >
          {{item.manufacturer}}
          <v-icon>mdi-eye</v-icon>
        </v-btn>
      </template>
    </v-data-table>




    <v-dialog
      light
      v-model="dialog_availability"
      persistent
      max-width="750px"
    >
      <v-card>
        <v-card-title>
          <span class="headline">Availability</span>
        </v-card-title>
        <v-form>
          <v-container>
            <v-data-table
              :headers="headers_availability"
              :items="$store.state.availability.availability.response"
              :items-per-page="10"
              class="elevation-1"
            >
            </v-data-table>
          </v-container>
        </v-form>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="black darken-1"
            text
            @click="dialog_availability=false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "index",
  data() {
    return {
      overlay:true,
      item:null,
      dialog_availability:false,
      headers: [
        {text: 'id', value: 'id'},
        {text: 'type', value: 'type'},
        {text: 'name', value: 'name', align: 'start'},
        {text: 'color', value: 'color'},
        {text: 'price', value: 'price'},
        {text: 'manufacturer', value: 'manufacturer'}
      ],
      headers_availability: [
        {text: 'id', value: 'id'},
        {text: 'DATAPAYLOAD', value: 'DATAPAYLOAD', align: 'start'}
      ],
      is_loading_update_btn_array: []
    }
  },
  async mounted() {
    await this.$store.dispatch('products/fetchProducts',"gloves").then(()=>{
      this.overlay=false
    })
  },
  methods:{
    async get_availability(manufacturer,id){
      this.overlay=true

      await this.$store.dispatch('availability/fetchAvailability',manufacturer).then(()=>{
        this.overlay=false
        this.dialog_availability=true
        /*
        if (typeof this.$store.state.availability.availability.response !== []) {
          this.item = this.$store.state.availability.availability.response.find(response => response.id === id.toUpperCase())
        }else {
          alert("Not found")
        }*/
      })
    }
  }
}
</script>

<style scoped>

</style>
